<script lang="ts">
    import '../app.css';
    import Navigation from '$lib/components/Navigation.svelte';
    import Footer from '$lib/components/Footer.svelte';
	import { page } from '$app/stores';
</script>

<div class="flex flex-col h-screen">
    <Navigation />
    <div class="flex-grow">
        <slot />
    </div>
	{#if $page.url.pathname == '/attributions'}
		 <Footer />
	{/if}
</div>
