<script lang="ts">
    import { elementRepo } from '$lib/repos/elementRepo'
    import DynamicAtom from '$lib/components/atom/DynamicAtom.svelte'
    import { elementsByParticle } from '$lib/repos/_elements'
    import ElementInfoDisplay from '$lib/components/atom/ElementInfoDisplay.svelte'
    import IncrementIcon from '$lib/icons/increment.svg'
    import DecrementIcon from '$lib/icons/decrement.svg'
    import { pageTitle } from '$lib/helpers'

    let atomicNumber = 1

    $: selectedElement = elementRepo.getElementByAtomicNumber(atomicNumber)

    $: particles = elementRepo.getElementParticles(atomicNumber)
</script>

<svelte:head>
    <title>{pageTitle({ subtitle: 'Atoms' })}</title>
</svelte:head>

<div class="container mx-auto px-8 md:px-0 mt-2">
    <div class="flex flex-wrap w-full">
        <div class="w-full">
            <p class="text-center mx-auto text-lg">
                Atomic Number: <span class="font-mono">{atomicNumber}</span>
            </p>
        </div>

        <div class="flex flex-row w-full">
            <button
                class="mr-2 btn btn-circle btn-ghost"
                disabled={atomicNumber === 1}
                on:click|preventDefault={() => atomicNumber--}
            >
                <DecrementIcon class="w-6 fill-base-content {atomicNumber === 1 && 'opacity-60'}" />
            </button>
            <input
                type="range"
                min="1"
                max={elementsByParticle.length}
                bind:value={atomicNumber}
                class="range mt-4 mb-4 range-accent"
            />
            <button
                class="ml-2 btn btn-circle btn-ghost {atomicNumber === elementsByParticle.length &&
                    'opacity-60'}"
                disabled={atomicNumber === elementsByParticle.length}
                on:click|preventDefault={() => atomicNumber++}
            >
                <IncrementIcon class="w-6 fill-base-content" />
            </button>
        </div>
        <div class="text-sm flex flex-row w-full text-center justify-center text-base-content/60">
            ← use the slider to change the atomic number →
        </div>
        <div class="basis-[100%] md:basis-[60%] mx-auto">
            <DynamicAtom
                bind:electrons={particles.electrons}
                bind:neutrons={particles.neutrons}
                bind:protons={particles.protons}
                bind:symbol={selectedElement.symbol}
            />
        </div>
        <div
            class="basis-[100%] md:basis-[40%] flex flex-col flex-shrink align-middle justify-center mx-auto"
        >
            <ElementInfoDisplay {selectedElement} />
        </div>
    </div>
</div>
