<script lang="ts">
    import PageLayout from '$lib/components/DnaRnaPageLayout.svelte'
    import { pageTitle } from '$lib/helpers'
    let teach = false
</script>

<svelte:head>
    <title>{pageTitle({ subtitle: 'DNA/RNA Transcription and Translation' })}</title>
</svelte:head>

<PageLayout {teach} />
