<script lang="ts">
    import AttributionLink from '$lib/components/AttributionLink.svelte'
    import { pageTitle } from '$lib/helpers'
    import { navSections } from '$lib/data/navSections'

    $: displayedSections = navSections.filter((s) => s.links.length !== 0)
</script>

<svelte:head>
    <title>{pageTitle()}</title>
</svelte:head>

<div class="container mx-auto">
    <div class="grid w-full px-2 md:px-8">
        <div class="col-span-12 py-4">
            <p class="text-xl font-mono pb-2 mb-8 border-b-2 tracking-widest border-primary">
                Sections
            </p>
            {#each displayedSections as section}
                <section class="mb-8">
                    <h3 class="text-xl md:text-2xl font-mono font-bold mb-3">{section.title}</h3>
                    <ul class="list-disc list-inside">
                        {#each section.links as link}
                            <li>
                                <AttributionLink href={link.href}>{link.label}</AttributionLink
                                >{#if link.info !== undefined}
                                    <span class="inline-block mx-2">—</span><span
                                        class="inline-block text-white/75">{link.info}</span
                                    >
                                {/if}
                            </li>
                        {/each}
                    </ul>
                </section>
            {/each}
        </div>
    </div>
</div>
