<script lang="ts">
    import type { crossType } from '../../../types'

    export let title: string

    export let selectedCrossType: crossType
    export let parentAlleles1: string
    export let parentAlleles2: string
    export let parentAlleles3: string
    export let parentAlleles4: string

    export let dominantAllele1: string
    export let dominantAllele2: string | undefined
    export let recessiveAllele1: string
    export let recessiveAllele2: string | undefined

    const largeSelect = true
</script>

<!-- parent 1 genotype -->
<div class="flex flex-row mb-2 text-center">
    <div class="w-full basis-full">
        <span>{title}</span>
    </div>
</div>
<div class="grid grid-cols-12 md:grid-cols-8 mb-4">
    <!-- allele 1 -->
    <div
        class="col-span-3 md:col-span-1"
        class:col-start-1={selectedCrossType === 'di'}
        class:col-start-4={selectedCrossType === 'mono'}
        class:md:col-start-3={selectedCrossType === 'di'}
        class:md:col-start-4={selectedCrossType === 'mono'}
    >
        <select
            class="select select-bordered w-full border-2 rounded-full rounded-r-none border-r-0 font-mono"
            class:select-lg={largeSelect}
            bind:value={parentAlleles1}
        >
            <option value={dominantAllele1} selected>{dominantAllele1}</option>
            <option value={recessiveAllele1}>{recessiveAllele1}</option>
        </select>
    </div>
    <!-- allele 2 -->
    <div class="col-span-3 md:col-span-1">
        <select
            class="select select-bordered w-full border-2 rounded-full rounded-l-none font-mono"
            class:select-lg={largeSelect}
            bind:value={parentAlleles2}
        >
            <option value={dominantAllele1} selected>{dominantAllele1}</option>
            <option value={recessiveAllele1}>{recessiveAllele1}</option>
        </select>
    </div>
    {#if dominantAllele2 !== undefined && recessiveAllele2 !== undefined}
        {#if selectedCrossType === 'di'}
            <!-- allele 3 -->
            <div class="ml-2 col-span-3 md:col-span-1">
                <select
                    class="select select-bordered w-full border-2 rounded-full rounded-r-none border-r-0 font-mono"
                    class:select-lg={largeSelect}
                    bind:value={parentAlleles3}
                >
                    <option value={dominantAllele2} selected>{dominantAllele2}</option>
                    <option value={recessiveAllele2}>{recessiveAllele2}</option>
                </select>
            </div>
            <!-- allele 4 -->
            <div class="col-span-3 md:col-span-1">
                <select
                    class="select select-bordered w-full border-2 rounded-full rounded-l-none  font-mono"
                    class:select-lg={largeSelect}
                    bind:value={parentAlleles4}
                >
                    <option value={dominantAllele2} selected>{dominantAllele2}</option>
                    <option value={recessiveAllele2}>{recessiveAllele2}</option>
                </select>
            </div>
        {/if}
    {/if}
</div>
