<script lang="ts">
    import { slide } from 'svelte/transition'
    import _ from 'lodash'
    import type { crossType } from 'src/types'

    export let dominant: string
    export let recessive: string
    export let title: string
    export let selectedCrossType: crossType
</script>

{#if selectedCrossType === 'di'}
    <div class="flex flex-col md:flex-row gap-3 mb-4">
        <p class="mx-auto font-bold text-accent">{title}</p>
    </div>
{/if}
<div class="grid grid-cols-12 gap-3 mb-4">
    <!-- dominant phenotype -->
    <div class="col-span-12 md:col-start-2 md:col-span-5">
        <div class="form-control w-full">
            <label class="label" for="dominant-phenotype-{_.kebabCase(dominant)}">
                <span class="label-text">Dominant phenotype</span>
            </label>
            <input
                bind:value={dominant}
                name="dominant-phenotype-{_.kebabCase(dominant)}"
                type="text"
                placeholder="Dominant phenotype"
                class="input input-bordered w-full rounded-full transition-all input-error"
                class:input-error={!dominant}
                class:text-opacity-0={dominant}
                class:text-opacity-100={!dominant}
            />
            {#if !dominant}
                <label
                    class="label"
                    for="dominant-phenotype-{_.kebabCase(dominant)}"
                    transition:slide={{ duration: 150 }}
                >
                    <span class="label-text-alt text-error">Please input a phenotype</span>
                </label>
            {/if}
        </div>
    </div>
    <!-- recessive phenotype -->
    <div class="col-span-12 md:col-span-5">
        <div class="form-control w-full">
            <label class="label" for="recessive-phenotype-{_.kebabCase(recessive)}">
                <span class="label-text">Recessive phenotype</span>
            </label>
            <input
                bind:value={recessive}
                name="recessive-phenotype-{_.kebabCase(recessive)}"
                type="text"
                placeholder="Recessive phenotype"
                class="input input-bordered w-full rounded-full"
                class:input-error={!recessive}
            />
            {#if !recessive}
                <label
                    class="label"
                    for="recessive-phenotype-{_.kebabCase(recessive)}"
                    transition:slide={{ duration: 150 }}
                >
                    <span class="label-text-alt text-error">Please input a phenotype</span>
                </label>
            {/if}
        </div>
    </div>
</div>
