<script lang="ts">
    import SequenceInput from '$lib/components/SequenceInput.svelte';
    import SequenceDisplay from '$lib/components/SequenceDisplay.svelte';

    export let teach = false;

    import {
        splitSequence,
        processSequences,
        getDnaCompliment,
        getRnaTranslation,
    } from '$lib/helpers';

    let dnaSequence = 'ATGCACGTGCCC';

    $: dnaTwo = getDnaCompliment(dnaSequence);
    $: rnaOne = getRnaTranslation(dnaTwo);

    $: sequences = splitSequence(rnaOne);

    $: dnaOneArr = splitSequence(dnaSequence) || [];
    $: dnaTwoArr = splitSequence(dnaTwo) || [];
    $: rnaOneArr = splitSequence(rnaOne) || [];

    $: aminoAcidArr = processSequences(sequences);
</script>

<div class="container mx-auto">
    <div class="flex w-full justify-center items-center">
        <input type="checkbox" class="toggle toggle-sm mr-3 toggle-accent" bind:checked={teach} />
        <span>Teach</span>
    </div>
    <div class="grid w-full">
        <div class="col-span-12 py-4">
            <div class="mb-8">
                <SequenceInput bind:sequence={dnaSequence} />
            </div>
            <div class="px-4">
                <SequenceDisplay
                    title="DNA #1"
                    sequence={dnaOneArr}
                    variant="secondary"
                    toggleable={teach}
                    show={true}
                />
                <SequenceDisplay
                    title="DNA #2"
                    sequence={dnaTwoArr}
                    variant="secondary"
                    toggleable={teach}
                    show={!teach}
                />
                <SequenceDisplay
                    title="RNA #1"
                    sequence={rnaOneArr}
                    variant="success"
                    toggleable={teach}
                    show={!teach}
                />
                <SequenceDisplay
                    title="Amino Acids #1"
                    sequence={aminoAcidArr}
                    variant="accent"
                    toggleable={teach}
                    show={!teach}
                />
            </div>
        </div>
    </div>
</div>
