<script lang="ts">
    import BrainIcon from '$lib/icons/brain.svg'
</script>

<footer class="footer footer-center p-4 bg-base-300 text-base-content">
    <div>
        <p>
            Made with <BrainIcon class="w-4 inline-block align-text-top fill-success" /> by
            <a
                class="underline decoration-success hover:decoration-success/70 transition-color decoration-2"
                href="https://corymoon.dev">Cory Moon</a
            >
        </p>
    </div>
</footer>
