<script lang="ts">
    import { navSections } from '$lib/data/navSections'
    import MenuIcon from '$lib/icons/menu.svg'
    import DnaIcon from '$lib/icons/dna.svg'

    let previousY: number
    let currentY: number
    let clientHeight: number

    const deriveDirection = (y: number) => {
        const direction = !previousY || previousY < currentY ? 'down' : 'up'
        previousY = y
        return direction
    }

    $: scrollDirection = deriveDirection(currentY)
    $: offscreen = scrollDirection === 'down' && currentY > clientHeight * 4

    $: displayedSections = navSections.filter((s) => s.links.length !== 0)
</script>

<svelte:window bind:scrollY={currentY} />

<div
    class="navbar bg-base-100/80 sticky top-0 backdrop-blur-sm transition-transform ease-in z-50"
    class:motion-safe:-translate-y-full={offscreen}
    bind:clientHeight
>
    <div class="navbar-start">
        <div class="dropdown">
            <!-- svelte-ignore a11y-label-has-associated-control -->
            <label tabindex="0" class="btn btn-ghost btn-circle">
                <MenuIcon class="w-6 fill-base-content" />

            </label>
            <ul
                tabindex="0"
                class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-300 rounded-box w-52"
            >
                <li><a class="font-semibold" href="/">Main</a></li>
                <hr class="border-primary/20 py-2" />
                {#each displayedSections as section}
                    <li class="text-sm pl-2 text-primary/80">{section.title}</li>
                    {#each section.links as link}
                        <li><a href={link.href}>{link.label}</a></li>
                    {/each}
                    <hr class="border-primary/20 py-2" />
                {/each}
                <li><a class="font-semibold" href="/attributions">Attributions</a></li>
            </ul>
        </div>
        <a href="/" class="btn btn-ghost normal-case text-xl">
            <DnaIcon class="w-4 mr-2 fill-base-content/70" />
            <span class="font-mono">biologyis.fun</span>
        </a>
    </div>
</div>
