<script lang="ts">
    export let sequence: string;
    let numRandom: number;
    import CloseIcon from '$lib/icons/close.svg'
    import RandomIcon from '$lib/icons/random.svg'

    function filterInput(event: any) {
        if (event.target.value.match(/[^gtacGTAC]*/)) {
            event.target.value = event.target.value.replace(/[^gtacGTAC]*/g, '');
            sequence = event.target.value.toUpperCase();
        }
        sequence.replace(/(.{5})/g,"$1\s")

    }

    const makeRandomRequence = () => {
        if (numRandom == null) {
            numRandom = 12;
        }
        let seq = '';
        for (let i = 0; i < numRandom; i++) {
            let p = Math.random();
            if (p > 0.75) {
                seq += 'A';
            } else if (p > 0.5) {
                seq += 'G';
            } else if (p > 0.25) {
                seq += 'T';
            } else {
                seq += 'C';
            }
        }
        sequence = seq;
    };
</script>

<div class="w-full flex">
    <input
        type="text"
        placeholder="DNA Sequence"
        class="input border-secondary border-opacity-[0.2] rounded-l-full uppercase border-2 focus:border-secondary-focus border-r-0 inline-block grow"
        bind:value={sequence}
        on:input={filterInput}
    />
    <div class="tooltip tooltip-bottom tooltip-primary" data-tip="Clear the sequence">
        <button
            class="btn inline-block rounded-none btn-outline border-secondary border-opacity-[0.2] border-2 border-r-0 hover:bg-error hover:border-transparent"
            on:click={() => sequence = ''}
        >
            <CloseIcon class="w-5 fill-base-content" />
        </button>
    </div>
    <div class="tooltip tooltip-bottom tooltip-primary" data-tip="Generate a random DNA sequence">
        <button
            class="btn inline-block rounded-none btn-outline border-secondary border-opacity-[0.2] border-2 hover:bg-secondary hover:border-transparent"
            on:click={() => makeRandomRequence()}
        >
            <RandomIcon class="w-5 fill-base-content" />
        </button>
    </div>
    <div class="tooltip tooltip-bottom tooltip-primary" data-tip="Length of the sequence to generate">
        <input
            type="number"
            placeholder="Sequence Length"
            class="input border-secondary border-opacity-[0.2] rounded-r-full uppercase border-2 focus:border-secondary-focus border-l-0 inline-block"
            bind:value={numRandom}
        />
    </div>
</div>

<style>
</style>
